/* CSS HEX */
/* --cape-cod: #3c3f3d;
--mystic: #dbe3eb;
--edward: #989fa0;
--rolling-stone: #7c848c;
--silver-sand: #b4bcbe;
--submarine: #bec7c8;
--hit-gray: #acb5bc;
--natural-gray: #8c8c84;
--jumbo: #84848c; */


/* SCSS HEX */
/* $cape-cod: #3c3f3d;
$mystic: #dbe3eb;
$edward: #989fa0;
$rolling-stone: #7c848c;
$silver-sand: #b4bcbe;
$submarine: #bec7c8;
$hit-gray: #acb5bc;
$natural-gray: #8c8c84;
$jumbo: #84848c; */


/* SCSS RGB */
/* --cape-cod: rgba(60,63,61,1);
--mystic: rgba(219,227,235,1);
--edward: rgba(152,159,160,1);
--rolling-stone: rgba(124,132,140,1);
--silver-sand: rgba(180,188,190,1);
--submarine: rgba(190,199,200,1);
--hit-gray: rgba(172,181,188,1);
--natural-gray: rgba(140,140,132,1);
--jumbo: rgba(132,132,140,1); */